@font-face {
  font-family: profileFont;
  src: url("./font/vonique-64/Vonique\ 64.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("./font/Montserrat/Montserrat-Light.ttf");
}

@media (min-width: 5px) {
  .bodyContainer {
    padding-top: 30px;
  }
  .job-title {
    margin: 25px 0px 5px 0px;
  }
  .second-container {
    padding-bottom: 68px;
  }
  .nameRow {
    margin: 1px 0px 0px 0px;
  }
  .contact-button {
    margin: 1.5% auto;
    width: 200px;
  }
  .exp-block {
    margin: 10px 0px 0px 0px;
  }
  .projects-row {
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .social-row {
    margin: 0px auto;
  }
}

@media (min-width: 576px) {
  .job-title {
    margin: 30px 0px;
  }
  .contact-button {
    width: 250px;
    margin: 1.5% auto;
  }
  .exp-block {
    margin: 15px 0px 0px 0px;
  }
  .contact-row {
    margin: 0px 0px;
  }
  .social-row {
    margin: 0px auto;
    position: sticky;
    bottom: 0px;
  }
}

@media (min-width: 768px) {
  .job-title {
    margin: 30px 0px;
  }
  .nameRow {
    margin: 15px 0px 50px 0px;
  }
  .contact-button {
    margin: 1.5% auto;
    width: 250px;
  }
  .exp-block {
    margin: 20px 0px 0px 0px;
  }
  .social-row {
    margin: 14px auto;
  }
  .contact-row {
    margin: 0px 0px;
  }
}

@media (min-width: 992px) {
  .job-title {
    margin: 30px 0px;
  }
  .nameRow {
    margin: 15px 0px 70px 0px;
  }
  .contact-button {
    margin: 1.5% auto;
    width: 200px;
  }
  .exp-block {
    margin: 25px 0px 0px 0px;
  }
  .social-row {
    margin: 14px 0px;
  }
  .contact-row {
    margin: 60px 0px;
  }
}

@media (min-width: 1200px) {
  .bodyContainer {
    padding-top: 50px;
  }
  .nameRow {
    margin: 15px 0px 70px 0px;
  }
  .contact-button {
    margin: 2% auto;
  }
  .exp-block {
    margin: 30px 0px 0px 0px;
  }
  .social-row {
    margin: 14px auto;
  }
  .contact-row {
    margin: 60px 0px;
  }
}

.bodyContainer {
  border: 1px solid rgba(0, 0, 0, 0.726);
  background-color: rgba(0, 0, 0, 0.726);
  min-height: 100vh;
  overflow: auto;
  display: block;
}

.social-row {
  left: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.second-container {
  height: 100%;
}

.letter {
  font-family: profileFont;
  text-align: center;
  cursor: default;
  font-size: 25px;
  transition-duration: 3s;
  animation: nameLetter 2s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes nameLetter {
  0% {
    color: rgba(255, 255, 255, 0);
  }

  10% {
    color: rgba(255, 255, 255, 0);
  }

  100% {
    color: white;
  }
}

.page-text {
  font-family: regularFont;
  font-size: 12px;
  animation: pagetext 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  top: 1vh;
  user-select: none;
}

.job-title {
  font-size: 18px;
}

@keyframes pagetext {
  0% {
    color: rgba(255, 255, 255, 0);
  }

  10% {
    color: rgba(255, 255, 255, 0);
  }

  100% {
    color: white;
  }
}

.projects-link {
  font-family: regularFont;
  font-size: 15px;
  text-decoration: none;
  color: white;
  animation: pagetext 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.projects-link:hover {
  text-decoration: none;
  color: white;
}

.pushOver {
  transform: matrix(1, 0, 0, 1, 16, 1);
}

.iLikeToMoveIt {
  animation: moveIt 2.5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: matrix(1, 0, 0, 1, 1, 1);
}

@keyframes moveIt {
  0% {
    transform: matrix(1, 0, 0, 1, 2, 1);
  }
  5% {
    transform: matrix(1, 0, 0, 1, 3, 1);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 9, 1);
  }
  95% {
    transform: matrix(1, 0, 0, 1, 3, 1);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 2, 1);
  }
}

.contact-button {
  color: white;
  font-family: regularFont;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 9px;
  text-decoration: none;
  animation: contactbutton 3s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transition: background-color 1.5s;
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 0.04);
  text-decoration: none;
}

.contactIcon {
  color: rgb(255, 255, 255);
  animation: socialFadeIn 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes contactbutton {
  0% {
    color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  66% {
    color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@keyframes socialFadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  66% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

hr {
  animation: hr 5s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hr {
  0% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  22% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  90% {
    border-color: rgba(255, 255, 255, 0.5);
    max-width: 45vw;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.4);
    max-width: 45vw;
  }
}
