@font-face {
  font-family: profileFont;
  src: url("./font/vonique-64/Vonique\ 64.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("./font/Montserrat/Montserrat-Light.ttf");
}

.bodyContainer {
  border: 6px solid rgba(0, 0, 0, 0.726);
  background-color: rgba(0, 0, 0, 0.726);
  min-height: 100vh;
}

.nameCol {
  margin-top: 17vh;
  font-size: 39px;
  font-family: profileFont;
  letter-spacing: 100px;
  color: rgba(255, 255, 255, 0);
}

.nameRow {
  padding-top: 6vh;
}

.letter {
  font-family: profileFont;
  text-align: center;
  cursor: default;
  font-size: 25px;
  transition-duration: 3s;
  animation: nameLetter 2s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes nameLetter {
  0% {
    /* transform: rotateX(-120deg); */
    color: rgba(255, 255, 255, 0);
  }

  10% {
    color: rgba(255, 255, 255, 0);
  }

  100% {
    /* transform: rotateX(0deg); */
    color: white;
  }
}

.intro1 {
  font-size: 13px;
  font-family: regularFont;
  color: rgba(0, 0, 0, 0);
  animation: intro1 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes intro1 {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  15% {
    color: rgba(255, 255, 255, 0.1);
  }
  45% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}

.wdRow {
  margin-top: 20px;
}

.contactBtn {
  color: white;
  font-family: regularFont;
  font-size: 12px;
  border: 1px solid white;
  padding: 9px;
}

.contactIcon {
  color: rgb(255, 255, 255);
}

.xyz {
  max-width: 75%;
  min-width: 240px;
}
.elrRow {
  margin-top: 30px;
}

.underHR {
  max-width: 500px;
}

.projectsRow {
  margin: 30px;
}
.socialRow {
  margin-top: 50px;
}
.contactRow {
  max-width: 2000px;
  margin-top: 10px;
}

.hr1 {
  /* top: 2vh; */
  animation: hr1 5s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hr1 {
  0% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  22% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  90% {
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
  }
}

.knowledge1 {
  font-family: regularFont;
  color: rgba(255, 255, 255, 0);
  font-size: 12px;
  animation: knowledge11 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes knowledge11 {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  25% {
    color: rgba(255, 255, 255, 0);
  }
  65% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}

.knowledge2 {
  font-family: regularFont;
  color: rgba(255, 255, 255, 0);
  font-size: 12px;
  animation: knowledge22 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes knowledge22 {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  30% {
    color: rgba(255, 255, 255, 0);
  }
  70% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}

.bottomRow {
  font-family: regularFont;
  color: rgba(255, 255, 255, 0);
  font-size: 12px;
  animation: bottomRow 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  top: 1vh;
}

@keyframes bottomRow {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  35% {
    color: rgba(255, 255, 255, 0);
  }
  80% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}
