@font-face {
  font-family: profileFont;
  src: url("./font/vonique-64/Vonique\ 64.ttf");
}

@font-face {
  font-family: regularFont;
  src: url("./font/Montserrat/Montserrat-Light.ttf");
}

.bodyContainer {
  border: 6px solid rgba(0, 0, 0, 0.726);
  background-color: rgba(0, 0, 0, 0.726);
  min-height: 100vh;
}

.nameCol {
  margin-top: 17vh;
  font-size: 39px;
  font-family: profileFont;
  letter-spacing: 100px;
  color: rgba(255, 255, 255, 0);
}

.nameRow {
  padding-top: 6vh;
}

.letter {
  font-family: profileFont;
  text-align: center;
  cursor: default;
  font-size: 25px;
  transition-duration: 3s;
  animation: nameLetter 2s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes nameLetter {
  0% {
    /* transform: rotateX(-120deg); */
    color: rgba(255, 255, 255, 0);
  }

  10% {
    color: rgba(255, 255, 255, 0);
  }

  100% {
    /* transform: rotateX(0deg); */
    color: white;
  }
}
.textDecorationNone {
  text-decoration: none;
}
.pushOver {
  transform: matrix(1, 0, 0, 1, 16, 1);
}

.iLikeToMoveIt {
  animation: moveIt 2.5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 100;
  transform: matrix(1, 0, 0, 1, 1, 1);
}
@keyframes moveIt {
  0% {
    transform: matrix(1, 0, 0, 1, 2, 1);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 9, 1);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 2, 1);
  }
}

.intro1 {
  font-size: 13px;
  font-family: regularFont;
  color: rgba(0, 0, 0, 0);
  animation: intro1 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes intro1 {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  15% {
    color: rgba(255, 255, 255, 0.1);
  }
  45% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}

@keyframes intro2 {
  0% {
    color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }
  15% {
    color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  45% {
    color: rgba(255, 255, 255, 0.999);
    border: 1px solid rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
    border: 1px solid rgba(255, 255, 255, 0.999);
  }
}

.wdRow {
  margin-top: 20px;
}

.contactBtn {
  color: white;
  font-family: regularFont;
  font-size: 12px;
  border: 1px solid white;
  padding: 9px;
  animation: intro2 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.contactIcon {
  color: rgb(255, 255, 255);
  animation: socialFadeIn 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes socialFadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  66% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.elrRow {
  margin-top: 30px;
}

.deetsCol {
  max-width: 500px;
}

.projectsRow {
  margin: 30px;
}
.socialRow {
  margin-top: 50px;
}
.contactRow {
  max-width: 2000px;
  margin-top: 10px;
}

.hr1 {
  animation: hr1 5s forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes hr1 {
  0% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  22% {
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
  }
  90% {
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
  }
}

.bottomRow {
  font-family: regularFont;
  color: rgba(255, 255, 255, 0);
  font-size: 12px;
  animation: bottomRow 5s forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  top: 1vh;
}

@keyframes bottomRow {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  35% {
    color: rgba(255, 255, 255, 0);
  }
  80% {
    color: rgba(255, 255, 255, 0.999);
  }
  100% {
    color: rgba(255, 255, 255, 0.999);
  }
}

.contactIcon1:hover {
  transform: rotate(720deg);
  transition-duration: 1.75s;
}

.contactIcon2:hover {
  transform: rotateX(-720deg);
  transition-duration: 1.75s;
}

.contactIcon3:hover {
  transform: rotate(-720deg);
  transition-duration: 1.75s;
}
