@font-face {
    font-family: profileFont;
    src: url("./font/vonique-64/Vonique\ 64.ttf")
}

@font-face {
    font-family: regularFont;
    src: url("./font/Montserrat/Montserrat-Light.ttf")
}

p {
    margin-bottom: 3rem;
}

.contactInvitation {
    color: white;
    font-family: regularFont;
    opacity: 0.0;
    font-size: 12px;
}

.contactInvitationOnLoad {
    color: white;
    font-family: regularFont;
    opacity: 0.999;
    font-size: 12px;
    transition-duration: 2s;
}

.contactBtn {
    border: 1px solid white;
    padding: 15px;
}

.contactIcon {
    color: rgba(255, 255, 255, 0);
}

.contactIcon1:hover {
    transform: rotateZ(720deg);
    transition-duration: 0.9s !important; 
}

.contactIcon2:hover {
    /* transform: rotateX(720deg); */
    transform: rotate3d(1, 1, 1, 1080deg);
    transition-duration: 0.9s !important; 
}

.contactIcon3:hover {
    transform: rotateZ(-720deg);
    transition-duration: 0.9s !important; 
}

.contactIconOnLoad {
    color: rgba(255, 255, 255, 0.999);
    transition-duration: 2s;
}

.contactBtn:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

.bodyContainer {
    border: 6px solid rgba(0, 0, 0, 0.726);
    background-color: rgba(0, 0, 0, 0.726);
    min-height: 100vh;
}

.nameCol {
    margin-top: 17vh;
    font-size: 39px;
    font-family: profileFont;
    letter-spacing: 100px;
    color: rgba(255, 255, 255, 0);
}

.nameColOnLoad {
    letter-spacing: 40px;
    transition-duration: 2.5s;
    color: rgba(255, 255, 255, 0.999)
}

.hr1 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
}

.hr2 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
    transition-duration: 2.5s;
}



.hr3 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
}

.hr4 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
    transition-duration: 2.5s;
}

.bottomRow {
    color: rgba(255, 255, 255, 0);
    font-family: regularFont;
    font-size: 12px;
    position: relative;
    top: 1vh;
}

.bottomRowOnLoad {
    color: rgba(255, 255, 255, 0.999);
    transition-duration: 1.5s;
}