@font-face {
    font-family: profileFont;
    src: url("./font/vonique-64/Vonique\ 64.ttf")
}

@font-face {
    font-family: regularFont;
    src: url("./font/Montserrat/Montserrat-Light.ttf")
}

p {
    margin-bottom: 3rem;
}

.bodyContainer {
    border: 6px solid rgba(0, 0, 0, 0.726);
    background-color: rgba(0, 0, 0, 0.726);
    min-height: 100vh;
}

.nameCol {
    margin-top: 17vh;
    font-size: 39px;
    font-family: profileFont;
    letter-spacing: 100px;
    color: rgba(255, 255, 255, 0);
}

.nameColOnLoad {
    letter-spacing: 40px;
    transition-duration: 2.5s;
    color: rgba(255, 255, 255, 0.999)
}

.hr1 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0);
    max-width: 1vw;
}

.hr2 {
    top: 2vh;
    border-color: rgba(255, 255, 255, 0.999);
    max-width: 45vw;
    transition-duration: 2.5s;
}

.firstPhoto {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgba(53, 53, 53, 0.459);
    radius
}

.cardColor {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
}

.cardText {
    color: rgba(255, 255, 255, 0.6);
    font-family: regularFont;
    font-size: 12px;
    padding: 15px;
}

.photoInModal {
    width: 100%;
    height: auto;
}

.bottomRow {
    color: rgba(255, 255, 255, 0);
    font-family: regularFont;
    font-size: 12px;
    position: relative;
    bottom: 1vh;
}

.bottomRowOnLoad {
    color: rgba(255, 255, 255, 0.999);
    transition-duration: 1.5s;
}

.bottomContainer {
    position: relative;
    bottom: -300px;
}